/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: var(--padding-inline);
  color: var(--color-primary);
  font-family: var(--font-family-main);
  font-size: var(--font-size-default);

  background-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0px 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0px 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: "wght" var(--font-weight-regular);
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
}

.button_type_text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border-large);
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-small);
  transition: box-shadow 0.3s ease;
}

.header {
  padding-block: var(--padding-block-header);
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-regular);
}

.header,
.card,
.save-section {
  max-inline-size: 700px;
}

.header__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-header-title);
  border: var(--border-large);
  padding-inline: var(--padding-header-title-inline);
  padding-block: var(--padding-header-title-block);
  font-size: var(--font-size-header-large);
  background-color: var(--color-secondary);
}

.header__title-span {
  font-size: var(--font-size-header-small);
  text-transform: uppercase;
}

.cards__list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-card-item);
}

.card {
  border: var(--border-large);
  background-color: var(--color-secondary);
}

.card__title {
  padding: 3.5px 10px 5.5px 10px;
  font-size: var(--font-size-default);
  font-variation-settings: "wght" var(--font-weight-bold);
}

.card__image-container {
  position: relative;
}

.card__image-text {
  position: absolute;
  top: 25px;
  right: var(--right-card-image-text);
  z-index: 1;
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-small);
  text-shadow: -1px 0 var(--color-secondary), 0 1px var(--color-secondary),
    1px 0 var(--color-secondary), 0 -1px var(--color-secondary);
}

@supports (
  (-webkit-text-stroke: 1px var(--color-secondary)) or
    (text-stroke: 1px var(--color-secondary))
) {
  .card__image-text {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--color-secondary);
    text-stroke: 1px var(--color-secondary);
  }
}

.filter-sepia-saturate {
  filter: sepia(20%) saturate(80%);
}

.filter-grayscale-contrast {
  filter: grayscale(30%) contrast(120%);
}

.filter-brightness-hue {
  filter: brightness(110%) hue-rotate(330deg);
}

.filter-saturate-contrast {
  filter: saturate(150%) contrast(110%);
}

.filter-hue-brightness {
  filter: hue-rotate(45deg) brightness(105%);
}

.filter-sepia-saturate {
  filter: sepia(40%) saturate(120%);
}

.filter-contrast-brightness {
  filter: contrast(110%) brightness(110%);
}

.filter-hue-saturate {
  filter: hue-rotate(15deg) saturate(110%);
}

.card__image {
  border-block-start: var(--border-large);
  border-block-end: var(--border-small);
  object-fit: cover;
  object-position: center bottom;
  mix-blend-mode: hard-light;
  inline-size: 100%;
  block-size: var(--block-size-image);
}

.card__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap-card-container);
  padding: var(--padding-card-container);
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-card-content);
}

.card__text {
  line-height: 21px;
}

.actions {
  display: flex;
  justify-self: end;
  justify-content: center;
  align-items: center;
  gap: var(--gap-actions);
}

.card__like-button {
  padding: 10.5px 35px;
  block-size: 39px;
  inline-size: 130px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: end;
  max-height: 39px;
  border: var(--border-transparent);
  transition: outline 0.3s ease;
}

.like-icon {
  inline-size: 100%;
  block-size: 100%;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: var(--border-large);
}

.save-section {
  display: flex;
  justify-content: center;
  padding-block-start: 50px;
  padding-block-end: 100px;
}

.save-section__button {
  gap: var(--gap-save-section-button);
  padding: 15px 20px;
  background-color: var(--color-secondary);
}

.button_type_text:focus {
  outline: none;
}

.button_type_text:focus-visible {
  box-shadow: 1px 1px 0 1px var(--color-primary);
  outline: none;
}

.button_type_text:after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-primary);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button_type_text:hover::after {
  transform: scaleX(1);
}

.floppy {
  inline-size: 21px;
  block-size: 21px;
}

.button__text,
.floppy {
  z-index: 1;
  color: var(--color-secondary);
  mix-blend-mode: difference;
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border: var(--border-large);
  padding: 30px;
  background-color: var(--color-secondary);
}

body:has(.dialog[open]) {
  overflow: hidden;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-dialog);
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-small);
  line-height: 1.5;
  text-transform: uppercase;
}

.dialog__text {
  max-inline-size: clamp(12.375rem, 3.38vw + 11.583rem, 14.625rem);
}

.dialog__floppy {
  inline-size: 39px;
  block-size: 39px;
}

.dialog__button {
  padding-block: 12.5px;
  text-transform: uppercase;
  inline-size: 100%;
}

@media (width <= 375px) {
  .save-section__button {
    flex-direction: column;
  }

  .floppy {
    inline-size: 28px;
    block-size: 28px;
  }

  .header,
  .card,
  .save-section {
    inline-size: 100%;
  }

  .dialog[open] {
    padding: 30px 42px;
  }
}
